@import '../../static/scss/globals';

.card {
	width: 100%;
	background-color: $white;
	border-radius: 3px;
	box-shadow: 0 1px rgba($darkest-blue, 0.25);
	cursor: pointer;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	color: $secondary-blue;
	padding: 6px 8px 2px;
	font-size: 14px;
	font-weight: 400;

	&:hover {
		background-color: $light-gray;
		border-bottom-color: rgba($darkest-blue, 0.25);
	}
}

.link {
	color: inherit;
	text-decoration: none;
}
