@import '../../static/scss/globals';

.board {
	width: 100%;
	height: 100%;
}

.stripe {
	height: 48px;
	width: 100%;
	padding: 8px;
	display: flex;
	justify-content: space-between;
}

.list_container {
	width: auto;
	height: calc(100% - 48px);
	overflow-y: hidden;
	overflow-x: auto;
	display: flex;
}

.delete_button {
	cursor: pointer;
	font-size: 12px;
	font-weight: 800;
	border-radius: 3px;
	line-height: 32px;
	padding: 0 12px;
	background-color: $salmon;
	color: $white;
	width: fit-content;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;

	&:hover {
		background-color: $salmon-light;
	}

	svg {
		margin-right: 6px;
		width: 12px;
		height: 12px;
		path {
			fill: $white;
		}
	}
}
