@import '../../static/scss/globals';

.list_wrapper {
	height: 100%;
	width: 272px;
	margin: 0 4px;
}

.list_wrapper:first-child {
	margin-left: 8px;
}

.list_wrapper:last-child {
	margin-right: 8px;
}

.content {
	background-color: $dark-white;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.list_header {
	min-height: 20px;
	padding: 10px 8px;
	padding-right: 36px;
}

.overflow_menu {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 32px;
	height: 32px;
	border-radius: 3px;
	color: $darkest-gray;
	padding: 6px;
	line-height: 12.5px;
	text-align: center;
	cursor: pointer;
	font-weight: 600;

	&:hover {
		color: $secondary-blue;
		background-color: rgba($darkest-blue, 0.08);
	}
}

.list_footer {
	padding: 0 8px;
}

.list_scroll {
	padding: 0 8px;
}
