// Theme colors
$primary-blue: #026aa7;
$secondary-blue: #172b4d;
$dark-blue: #42526e;
$darkest-blue: #091e42;

$dark-gray: #5e6c84;
$gray: #a5adba;
$light-gray: #f4f5f7;

$sand: #fdf4e7;

$white: #ffffff;
$black: #000000;

$light-green: #61bd4f;
$green: #5aac44;
