@import '../../static/scss/globals';

.header {
	height: 40px;
	background-color: $primary-blue;
	display: flex;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4px;

	&_list {
		display: flex;
		list-style: none;
		flex: 2 1;
	}

	svg {
		width: 20px;
		height: 20px;
	}
}

.logo {
	flex: 1;
}

.right_alignment {
	justify-content: flex-end;

	li:last-of-type {
		margin-right: 0;
	}
}

.profile {
	background-color: transparent !important;
}
